.postContainer {
  width: 100%;
  height: 100%;
  background-color: rgb(114, 113, 113);
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 12px;
}

.postInteraction {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  padding-right: 2%;
}
#post-container-no-comments {
  width: 100%;
  display: flex;
}
#comments {
  background-color: azure;
  width: 100%;
}

#agrees {
  display: flex;
}

#agree-button-and-count {
  display: flex;
  flex-direction: column;
}
#agree-button-and-count > h3 {
  display: flex;
  justify-content: center;
}
#disagree-button-and-count {
  display: flex;
  flex-direction: column;
}
#disagree-button-and-count > h3 {
  display: flex;
  justify-content: center;
}
.postContainer > h1 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  width: 100%;
}

#date-and-status {
  display: flex;
  justify-content: space-between;
}

#post-date {
  padding-right: 16px;
}

#active-post {
background-color: green;
}

#inactive-post {
background-color: red;
}

#comment-icon{
color: blanchedalmond;
font-size: 26px;
}