#profile-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  width: 100%;
}

#profile-container {
  margin-top: 16px;
  background-color: rgb(133, 133, 133);
  display: flex;
  justify-content: center;
  width: 100%;

}

#profPhoto {
  max-height: 300px;
  max-width: 300px;
}
