#profile-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;

  border-radius: 4px;
  
}

#profile-container {
  margin-top: 80px;
  background-color: rgb(54, 54, 54);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  height: 14em;
  border-radius: 4px;
}

#profileFeedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
  padding-top: 8px;
}

#profPhoto {
  max-height: 200px;
  max-width: 200px;
  min-height: 120px;
  min-width: 120px;
  border-radius: 50%;
  margin-left: 1em;
  margin-right: 1em;
}

.loggedinProfPhoto {
  
}

.loggedinProfPhoto:hover {
  color: rgb(47, 0, 255);
}


#username-follow {
  display: flex;
  justify-content: flex-start;
  width: 30%;
}
#profile-username {
  display: flex;
  justify-content: flex-start;
  color: azure;
  width: 100%;

}
#profile-bio {
  font-size: 24px;
  color: azure;
  padding-right: 8px;
  width: 100%;
}

#edit-bio{
  margin-left: 8px;
}

#profile-buttons{
  width: 10%;
  margin-right: 6px;
}