/* TODO Add site wide styles */
body {
    margin: 0;
}

#root {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 100%;
    height: 100%;
    background-color: rgb(1, 1, 117);
    margin: 0;
}